@charset "UTF-8";
@font-face {
  font-family: '源石黑體M';
  src: url("../../asset/font/GenSekiGothic-M.ttc");
}

@font-face {
  font-family: '源石黑體R';
  src: url("../../asset/font/GenSekiGothic-R.ttc");
}

@font-face {
  font-family: 'CascadiaCodePL-SemiBold';
  src: url("../../asset/font/CascadiaCodePL-SemiBold.ttf");
}

body {
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.laningPageSection {
  height: auto;
}

.marquee {
  z-index: 10;
  position: fixed;
  top: 0;
  background-color: #fff;
  width: 100vw;
  height: auto;
  border-bottom: black 1px solid;
  overflow: hidden;
  font-size: 17pt;
  font-family: '源石黑體M';
  letter-spacing: 3px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-weight: 700;
}

.landing__cart {
  z-index: 10;
  cursor: pointer;
  position: fixed;
  right: 25px;
  bottom: 25px;
  height: 78px;
}

.intro {
  margin-top: 90px;
  margin-left: 67px;
  position: fixed;
  width: 40%;
}

.intro .intro_chText,
.intro .intro_enText {
  font-family: '源石黑體M';
  font-size: 10pt;
  font-weight: 500;
}

.intro .intro_chText {
  margin-bottom: 20px;
}

.intro .intro_enText {
  text-align: justify;
}

.logoTypes {
  width: 70%;
  position: relative;
  float: right;
  margin-top: 320px;
}

.logoTypes .logoTypes__logo1,
.logoTypes .logoTypes__logo3 {
  margin-bottom: 170px;
}

.logoTypes .logoTypes__logo2 {
  margin-bottom: 100px;
}

.switchedImg {
  position: fixed;
  left: 67px;
  bottom: 42px;
  height: 246px;
}

.shopCartSection {
  height: 100vh;
}

.shopCartSection .commodityTag {
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: none;
  position: absolute;
  width: auto;
  max-width: 300px;
  height: auto;
  color: white;
  background-color: rgba(95, 95, 95, 0.6);
  z-index: 20;
  padding: 12px 24px;
  letter-spacing: 2px;
  font-size: 8pt;
}

.shopCartSection .commodityTag .commodityTag__leftNum {
  margin-right: 8px;
}

.shopCartSection .commodityTag .commodityTag__leftNum .commodityTag__leftNum--num {
  font-size: 10pt;
  letter-spacing: 0px;
  margin: 0;
}

.shopCartSection .commodityTag .commodityTag__rightWordBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.shopCartSection .commodityTag .commodityTag__rightWordBlock p {
  font-weight: 100;
  padding: 0;
  margin: 0;
}

.shopCartSection .commodityTag .commodityTag__rightWordBlock .commodityTag__rightWordBlock--title {
  font-family: '源石黑體M';
  font-size: 10pt;
  margin-bottom: 4px;
}

.shopCartSection .commodityTag .commodityTag__rightWordBlock .commodityTag__rightWordBlock--content {
  font-family: '源石黑體R';
  line-height: 150%;
}

.shopCartSection .shopCart__cart {
  position: fixed;
  width: 312px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.shopCartSection .draggable {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 150px;
  max-height: 150px;
}

.shopCartSection .cashRegister {
  position: absolute;
  cursor: pointer;
  right: 25px;
  bottom: 25px;
  height: 100px;
  z-index: 20;
}

.shopCartSection .introScreen {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: rgba(255, 255, 255, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shopCartSection .introScreen .introScreen__wordBlock p {
  color: #ff0019;
  font-family: '源石黑體M';
  font-size: 19pt;
  font-weight: 100;
  text-align: center;
}

.shopCartSection .introScreen .bottomWords {
  width: 100%;
  position: absolute;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.shopCartSection .introScreen .bottomWords .bottomWords__upper,
.shopCartSection .introScreen .bottomWords .bottomWords__down {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.shopCartSection .introScreen .bottomWords .bottomWords__upper {
  margin-bottom: 25px;
}

.shopCartSection .introScreen .bottomWords .bottomWords__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shopCartSection .introScreen .bottomWords .bottomWords__block img {
  width: 24px;
  margin-left: 25px;
}

.shopCartSection .introScreen .bottomWords .bottomWords__block p {
  margin: 0;
  margin-left: 7px;
  font-family: '源石黑體M';
  font-size: 16pt;
  font-weight: 100;
  color: #ff0019;
}
/*# sourceMappingURL=style.css.map */